<div class="container col-sm-5 mt-5 p-4">

    <div class="container text-center col-sm-8">
        <i class="fab fa-node-js fa-6x"
        style="color:aqua"></i>
    </div>
    <div class="container mt-3 col-sm-8">
        <h4 class="text-secondary text-center">
            Choose either register or login 
        </h4>
    </div>
    <div class="container mt-5 mb-2 col-sm-9">
        <a href="/register" class="btn btn-outline-primary btn-block">Register</a>
    </div>
    <div class="container col-sm-9">
        <a href="/login" class="btn btn-outline-success btn-block">Login</a>
    </div>

</div>